build/*
*cache*
!*cache.py
!*caches.py
docs/*
__pycache__
*.rdb
examples/logs/SMAC
examples/logs/BOHB
smac3-output*
.DS_Store
pending
__init__.pyc
examples/logs*
examples/*
!examples/logs/DeepCAVE
*.sh
!run.sh
*egg-info