build/*
*cache*
!*cache.py
!*caches.py
__pycache__
*.rdb
examples/logs/SMAC
examples/logs/BOHB
smac3-output*
.DS_Store
__init__.pyc
examples/logs*
examples/*
!examples/logs/DeepCAVE
!examples/record
examples/record/_*.py
*.sh
!run.sh
.vscode
*.egg-info
docs/apidoc
docs/html
docs/pages/examples
dist
dist/*