include LICENSE
include start.sh
include worker.py
include server.py
include open.py
include requirements.txt
include deepcave/py.typed
include deepcave/utils/logging.yml
include docs/plugins/*

prune tests
prune examples
