[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=6.2.1"
more-itertools = ">=8.5.0"
tqdm = ">=4.56.0"
pipenv-setup = ">=3.1.1"
tox = ">=3.21.0"
coverage = ">=5.3.1"
pytest-cov = ">=2.10.1"
sphinx = ">=3.4.3"
recommonmark = ">=0.7.1"
versioneer = ">=0.19"
skl2onnx = ">=1.7.0"
scikit-optimize = ">=0.8.1"
Flask-Caching = ">=1.10.1"

[packages]
pandas = ">=1.2.0"
numpy = ">=1.19.0"
matplotlib = ">=3.4.2"
dash = ">=1.18.1"
PyYAML = ">=5.3.1"
scipy = ">=1.6"
dash-dangerously-set-inner-html = ">=0.0.2"
onnxruntime = ">=1.6.0"
configspace = ">=0.4.17"
pdpbox = ">=0.2.1"
fanova = {editable = true,git = "https://github.com/automl/fanova.git@2442ef36856a98f8755089f915ffe8373d9b5046"}
pyimp = ">=1.1.2"
dash-bootstrap-components = ">=0.11.1"
scikit-learn = ">=0.24"

[requires]
python_version = "3.8"
