# If something is changed here, change it in the pre-commit-hook under mypy additonal dependencies as well
# otherwise mypy wont check the dependencies
wheel>=0.41.2
setuptools==68.2.2
absl-py>=1.0.0
jsonlines>=3.0.0
pandas>=1.3.4
numpy==1.26.4
matplotlib==3.9.0
seaborn>=0.13.0
pyyaml>=6.0.1
kaleido>=0.2.1
gplearn>=0.4.2
sympy>=1.12
requests>=2.31.0

# AutoML packages
ConfigSpace==0.6.1
pyrfr>=0.9.0
hpbandster==0.7.4

# Upgrading to 2.1.0 or higher breaks the slider because string keys in marks
# can not be interpreted anymore (2.0.0 works nicely)
dash==2.0.0
dash-extensions==0.0.71
dash-bootstrap-components==1.0.3
redis>=4.1.4
rq>=1.10.1
# Pinned due to https://github.com/plotly/dash/issues/1992
# Pinning might be removed for dash>2.3.0
werkzeug==2.0.3

pyPDPPartitioner>=0.1.8
