html,
body,
#react-entry-point,
#_dash-global-error-container,
#_dash-global-error-container>div,
#_dash-global-error-container>div>div:not(.dash-debug-alert-label, .dash-debug-menu__outer, .dash-debug-menu),
#_dash-global-error-container>div>div>div,
#_dash-app-content,
#_dash-app-content>div,
#main-container,
#main-container>.row {
    height: 100%;
}

body {
    background-color: rgb(249, 249, 249);
}

main {
    padding: 1rem;
}

header {
    height: 4rem;
}

h1 {
    margin-bottom: 1.25rem;
}

label {
    margin-bottom: 0;
}

.form-text {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#sidebarMenu {
    background-color: rgb(243, 242, 241);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px;
}

thead {
    border-bottom: 2px solid lightgray;
}

.nav-link .far,
.nav-link .fas {
    margin-right: 0.5rem;
}

#navigation-items .nav-link.active {
    background-color: rgb(232, 232, 232) !important;
    border-right: 3px solid #0d6efd;
}

table.table.fixed {
    table-layout: fixed;
}

table.table.exclude-head thead {
    display: none;
}

table.table.exclude-head tbody {
    border-top: 0px solid #d4d4d4;
}

/*
.loading-container > *[data-dash-is-loading="true"] {
    height: 10px;
    visibility: hidden;
}

.loading-container > *[data-dash-is-loading="true"]::before{
    content: "Loading...";
    display: inline-block;
    width: 100%;
    color: magenta;
    visibility: visible;
    text-align: center;
    clear: both;
}
*/