name: PyTest
on: [ push ]
jobs:
  pytest:
    name: PyTest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Add conda to system path
        run: |
          # $CONDA is an environment variable pointing to the root of the miniconda directory
          echo $CONDA/bin >> $GITHUB_PATH
      - name: Setup Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: 3.10
      - name: Install dependencies
        run: |
          conda env update --file environment.yml --name base
          pip install .
          pip install .[dev]
      - name: Run pytest 
        run: pytest tests
